################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetCoreAPI.Mongodb/NetCoreAPI-Mongodb/bin/Debug/net7.0
/NetCoreAPI.Mongodb/NetCoreAPI-Mongodb/obj
*.user
/NetCoreAPI.Mongodb/.vs
/NetCoreAPI.Mongodb/NetCoreAPI-Mongodb/bin/Debug/net8.0
/NetCoreAPI.Mongodb/Infrastucture/obj
/NetCoreAPI.Mongodb/Infrastucture/bin/Debug/net8.0
